[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
openpyxl = "*"

[dev-packages]
black = "*"
py2exe = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
